{% extends 'base.jinja2' %}

{% block content %}
<form action="{{ url_for('sent') }}" method="POST">
    <div>
        <input type="text" name="entry_field"/>
    </div>
    <div>
        <input type="submit"/>
    </div>
</from>
{% endblock %}