<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <p>Please enter a valid username and password</p>
        <p>
            1.Password must contain a digit<br>
            2.Password must contain an uppercase letter<br>
            3.Password must be 5 or more letters long<br>
        </p>

        {% block content %}   <!-- Here we can change the name of content to anything but 'block' should be as it is -->

        {% endblock %}
    </body>
</html>